:root {
  --main-height: 95vh; 
  --main-width: 70vw; 
  --option-color: rgb(158, 185, 239); 
  --option-color-active: rgb(125, 155, 215); 
  --def-width-1: calc(0.6*var(--main-width));
  --def-width-2: calc(0.75*var(--main-width));
  --def-margin: calc(0.05*var(--main-height)); 
}
.active {
  background-color: var(--option-color-active);
}
.inactive {
  background-color: var(--option-color);
}

* {
  font-family: "courier new"; 
}

.main {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 

  width: auto; 
  height: var(--main-height); 
}

.bg {
  z-index: -10;
  position: absolute;
  top: 0; 
  left: auto; 
}

.header {
  display: flex; 
  align-items: center; 
  justify-content: center; 

  margin-top: 5.75vw;

  width: var(--def-width-2); 
  height: calc(0.15*var(--main-height)); 
}

.options {
  display: flex; 
  align-items: center;
  justify-content: center; 

  width: var(--def-width-1); 
  height: calc(0.1*var(--main-height)); 
  gap: calc(0.05*var(--main-height));
}

.option {
  border-radius: 20px; 
  
  display: flex; 
  align-items: center; 
  justify-content: center; 

  width: calc((var(--def-width-1) - calc(0.03*var(--main-height)))/2); 
  height: calc(0.1*var(--main-height));

  color: white; 
  font-size: 25px; 
  font-weight: bold; 
  text-align: center;
}

.options .option:hover {
  background-color: var(--option-color-active);
  cursor: pointer;
}

.calculator {  
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;

  margin-top: calc(0.05*var(--main-height));

  width: var(--def-width-2);
  height: calc(0.5*var(--main-height));
}

.about {
  width: var(--def-width-1); 
  height: calc(0.07*var(--main-height));
  
  color: #00005b;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.inputs {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: var(--def-margin);

  width: var(--def-width-1); 
  height: calc(0.25*var(--main-height));
}

.input {
  display: flex;
  align-items: center;

  width: var(--def-width-1);
  height: auto; 
  gap: calc(0.03*var(--main-height));
}

.inputText {
  margin-left: calc(0.05*var(--def-width-1)); 
  
  color: #00005b;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.inputParam {
  outline-color: var(--option-color);
  
  border: 1px solid var(--option-color-active);
  border-radius: 5px;

  width: calc(0.25*var(--main-width));
  height: calc(0.05*var(--main-height));
}

.enter {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-top: var(--def-margin);
  
  width: var(--def-width-2);
  height: calc(0.25*var(--main-height));

}

.enterParam {
  background-color: var(--option-color);
  border-radius: 20px;
  border: none; 

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(0.25*var(--main-width));
  height: calc(0.09*var(--main-height));

  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.enter .enterParam:hover {
  background-color: var(--option-color-active);
  cursor: pointer;
}

.charts {
  z-index: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  position: absolute; 
  top: calc(0.775*var(--main-height)); 
  left: 50%; transform: translate(-50%, calc(50% - var(--def-width-1) / 2));
}

#toolTip {
  background: rgb(174, 197, 243);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: calc(0.02*var(--def-width-1));
  padding-bottom: calc(0.03*var(--def-width-1));

  position: absolute;
  pointer-events: none;
  z-index: 10;
  
  width: calc(0.3*var(--def-width-1));
  
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
}

#toolTipTri {
  border-top: 20px solid var(--option-color);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  
  width: 0;
  height: 0;
}

#toolTipDot {
  background: var(--option-color-active);
  border-radius: 50%;

  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 10;

  width: calc(0.02*var(--def-width-1));
  height: calc(0.02*var(--def-width-1));
}

#slider {
  background: linear-gradient(to right, var(--option-color), var(--option-color-active));
  border-radius: 5px; 
  appearance: none;
  border: none; 
  outline: none; 

  margin: 20px 0px;

  width: calc(0.5*var(--def-width-1));
  height: calc(0.02*var(--main-height));
}

.infoButton {
  background-color: var(--option-color);
  border-radius: 20px; 

  display: flex; 
  align-items: center;
  justify-content: center;

  z-index: 20;
  position: absolute;
  top: calc(0.06*var(--def-width-1));
  left: calc(0.06*var(--def-width-1));

  width: calc(0.1*var(--def-width-1));
  height: calc(0.1*var(--def-width-1));

  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
}

.infoDivTri {
  border-bottom: 25px solid var(--option-color);
  border-left: 15px solid transparent;
  border-right: 30px solid transparent;

  z-index: 20;
  display: flex;
  position: absolute;
  pointer-events: none;
  top: calc(0.2*var(--def-width-1));
  left: calc(0.06*var(--def-width-1));
  
  width: 0;
  height: 0;
}

.infoDiv {
  background-color: var(--option-color);
  border-radius: 10px 20px 20px;

  align-items: center;
  justify-content: center;

  z-index: 20;
  position: absolute;
  pointer-events: none;
  top: calc(0.22*var(--def-width-1));
  left: calc(0.06*var(--def-width-1)); 

  width: calc(0.55*var(--def-width-1));
  height: calc(0.35*var(--def-width-1));

  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
}

div.infoButton:hover {
  background-color: var(--option-color-active);
  cursor: pointer;
}