:root {
  --main-height: 95vh; 
  --main-width: 70vw; 
  --option-color: rgb(158, 185, 239); 
  --option-color-active: rgb(125, 155, 215); 
  --def-width-1: calc(0.6*var(--main-width));
  --def-width-2: calc(0.75*var(--main-width));
  --def-margin: calc(0.05*var(--main-height)); 
}
.active {
  background-color: var(--option-color-active);
}
.inactive {
  background-color: var(--option-color);
}

* {
  /* outline: 2px black solid;  */
  font-family: "courier new"; 
}

.main {
  display: flex; 
  flex-direction: column; 

  align-items: center; 
  justify-content: flex-start; 

  width: auto; 
  height: var(--main-height); 
}

img {
  position: absolute;
  top: 0; 

  z-index: -10; 
}

.header {
  display: flex; 
  align-items: center; 
  justify-content: center; 

  margin-top: 5.75vw;

  width: var(--def-width-1); 
  height: calc(0.15*var(--main-height)); 
}

.options {
  outline-color: orange; 

  display: flex; 
  align-items: center;
  justify-content: center; 

  margin-top: var(--def-margin); 

  width: var(--def-width-1); 
  height: calc(0.1*var(--main-height)); 
  gap: calc(0.05*var(--main-height));
}

.option {
  outline-color: red; 
  border-radius: 20px; 
  
  display: flex; 
  align-items: center; 
  justify-content: center; 

  width: calc((var(--def-width-1) - calc(0.03*var(--main-height)))/2); 
  height: calc(0.1*var(--main-height));

  color: white; 
  font-size: 25px; 
  font-weight: bold; 
  text-align: center;
}

.options .option:hover {
  background-color: var(--option-color-active);
}

.calculator {
  outline-color: blue;
  
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;

  margin-top: calc(0.05*var(--main-height));

  width: var(--def-width-2);
  height: calc(0.5*var(--main-height));
}

.about {
  outline-color: pink;

  width: var(--def-width-1); 
  height: calc(0.07*var(--main-height));
  
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.inputs {
  outline-color: purple;
  
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: var(--def-margin);

  width: var(--def-width-1); 
  height: calc(0.25*var(--main-height));
}

.input {
  outline-color: aqua;

  display: flex;
  align-items: center;

  width: var(--def-width-1);
  height: auto; 
  gap: calc(0.03*var(--main-height));
}

.inputText {
  outline-color: blue; 

  margin-left: calc(0.05*var(--def-width-1)); 
  
  color: black;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

.inputParam {
  outline-color: var(--option-color);

  width: calc(0.25*var(--main-width));
  height: calc(0.05*var(--main-height));
}

.enter {
  outline-color: pink;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  width: var(--def-width-2);
  height: calc(0.25*var(--main-height));

  margin-top: var(--def-margin);
}

.enterParam {
  outline-color: red;
  background-color: var(--option-color);
  border-radius: 20px;
  border: none; 

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc(0.25*var(--main-width));
  height: calc(0.09*var(--main-height));

  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.enter .enterParam:hover {
  background-color: var(--option-color-active);
}

.charts {
  outline-color: orange;

  position: absolute; 
  top: calc(0.72*var(--main-height)); 
  left: 50%; transform: translate(-50%, calc(50% - var(--def-width-1) / 2));

  margin-bottom: var(--def-margin);

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#toolTip {
  background: rgb(174, 197, 243);
  border-radius: 20px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: calc(0.30*var(--def-width-1));
  padding-top: calc(0.02*var(--def-width-1));
  padding-bottom: calc(0.03*var(--def-width-1));
  pointer-events: none;
  z-index: 10;
  
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  white-space: pre-wrap;
}

#toolTipTri {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--option-color); 

  position: absolute;
  display: none;
  
  width: 0;
  height: 0;
  z-index: 10;
}

#toolTipDot {
  background: var(--option-color-active);
  border-radius: 50%;

  position: absolute;
  display: none;

  width: calc(0.02*var(--def-width-1));
  height: calc(0.02*var(--def-width-1));
  pointer-events: none;
  z-index: 15;
}

#slider {
  -webkit-appearance: none;
  background: linear-gradient(to right, var(--option-color), var(--option-color-active));
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  width: calc(var(--def-width-1) / 2);
  height: calc(0.02 * var(--main-height));
}